.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

li.nav-item {
  text-align: center;
}

div.container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./components/images/pokemon-wallpaper.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-color: black;
}

@media only screen and (max-width: 426px) {
  body {
    background-image: url("https://wallpaperaccess.com/full/248737.jpg");
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
  background: grey;
  color: #333333;
  padding: 10px;
  opacity: 90%;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type="file"] {
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: #333333;
}

a:link,
a:visited {
  opacity: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  /* background-color: white; */
  opacity: 100%;
}
